# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
build/
dist/

# Configuration and Secrets
.env
.flaskenv
*.secrets
auth_key.json

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*,cover

# Logs
*.log
logs/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

user_data/
deep_learning_models/
