fastapi
uvicorn
motor
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-dotenv
Pillow
aiofiles
scikit-learn
matplotlib
opencv-python
albumentations
httpx
shapely
torch
torch-vision
